<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="controller.js"></script>
<script src="popup.js"></script>
<link rel="stylesheet" type="text/css" href="style.css" />
<link rel="stylesheet" type="text/css" href="popup.css" />
<link rel="stylesheet" type="text/css" href="slider.css" />
<link rel="stylesheet" type="text/css" href="table.css" />
<body ng-app="myApp" ng-controller="myCtrl">
    <div class="header">                            <!------- Header DIV here --------->
        <a href="#top" class="logo"><img src="images/earth.gif" height="40" width="85" id="logoimg"/></a>
        <p id="insert" style="display: inline;color:yellow"></p>
        <div class="header-right">
            <button class="button" id="loginbtn" onclick="loginButton()" >Login</button>
            <button class="button" onclick="OpenGame()" >Game</button>
            <button class="button" onclick="OpenRegister()" >Register</button>
            <button class="button" id="about" onclick="OpenWelcome()" >About</button>
            <button class="button" onclick="OpenSetting()" >Settings</button>
        </div>
        <p><font color="red">Hello {{username}}</font></p>
    </div>
<br><br><br><br><br><br>

<div id="welcome" style="display: block;">
welcome div
</div>


<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <span class="close" id="close">&times;</span>
        <h2>Hello guest!</h2>
      </div>
      <div class="modal-body">
        <p>It seems like youre not a member in out app :(</p>
        <p>We invite you to register and login to put site!</p>
      </div>
      <div class="modal-footer">
        <h3>It'll be fun</h3>
        <a id="reg" class="button" style="cursor: pointer;" onclick="OpenRegister()">Register</a>
        /
        <a id="log" class="button" style="cursor: pointer;" onclick="loginButton()">login</a>
      </div>
    </div>
</div>

<div id="poi_view" style="display: none;">
    
    <table>
        <tr>
            <th colspan="3" style="text-align: center;"> Location: {{ poi_name }} </th>
        </tr>
        <tr>
          <td id="rev1">January</td>
          <td rowspan="4"><img id="poi_img" width="400" height="400"></td>
        </tr>
        <tr>
          <td id="rev2">February</td>
        </tr>
        <tr>
          <td><p id="details">hello</p></td>
        </tr>
        <tr>
            <td><p id="rankper">1.4</p></td>
        </tr>
      </table>
</div>

<!-- About Div -->
<div id="about" style="display: block;">
    
        <p>
        our informative city hall website:    <a href="https://www.beer-sheva.muni.il/Pages/default.aspx">
        <img border="0"  src="images\citylogo.png" width="140" height="100"></a>
        </p>
        <h1>Welcome to our site, here you can see information about the posh shona daled  <img src="images\dalet.jpg"></h1>
        <h1>and our beautiful hotel <img src="images\hotel.jpg"></h1>
        <h1>and our professional students <img src="images\party.jpg"></h1>
</div>

<!-- Login Div -->
<div id="login" style="display: none;">
        <input type="text" name="name" placeholder="User name" ng-model="tmpname">
        <input type="password" name="password" placeholder="Password" ng-model="password">
        <button id="logbtn" ng-click="validuser()">Login</button>
        <button type="button" id="forgot-btn" ng-click="getq()">Forgot Password?</button>
        <p ng-bind="Question1"></p>
        <input type="text" name="Answer" id="sec_q1" placeholder="Answer" ng-model="Answer1" style="display: none;" >
        <button type="button" id="forgot-btn2" ng-click="getpass()" style="display: none;">get Password</button><br>
        <p id="text_per_pass"style="display: none;">password is : </p><p ng-bind="passwordR" ></p>
</div>
                                          <!-- Register Div -->
<div id="register" style="display: none;">

    <label for="firstname"><b>First Name</b></label>
    <input type="text" id="firstname" placeholder="First name" ng-model="firstName" pattern="^[a-zA-Z]+$" required>

    <label for="lastname"><b>Last Name</b></label>
     <input type="text" id="lastname" placeholder="Last name" ng-model="lastName" pattern="^[a-zA-Z]+$" required>

     <label for="City"><b>City</b></label>
     <input type="text" id="City" placeholder="City" pattern="^[a-zA-Z]+$" ng-model="City" required>

    <label for="username1"><b>User name</b></label>
    <label for="username1"></label><input type="text" placeholder="Enter username" id="username1" name="username1" ng-model="tmpname" required>
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" id="psw" name="psw" title="Password must contain at least 8 or more characters and digits" ng-model="password" required>
    <input type="text" name="Country" placeholder="Country" ng-model="Country">
    <input type="text" placeholder="Enter Email" id="email" name="email" title="Invalid email address" ng-model="email" required>
    <input type="text" name="Interest1" placeholder="Interest" ng-model="Interest1">
    <input type="text" name="Interest2" placeholder="Interest" ng-model="Interest2">
    <input type="text" name="Interests" placeholder="Interests" ng-model="Interests">
    <input type="text" name="Question1" placeholder="Question 1" ng-model="Question1">
    <input type="password" name="Answer2" placeholder="Answer 1" ng-model="Answer1">
    <input type="text" name="Question2" placeholder="Question 2" ng-model="Question2">
    <input type="password" name="Answer2" placeholder="Answer 2" ng-model="Answer2">
    <button ng-click="register()">Register</button>
</div>







<!-- slider -->
<div id="foot">
  <div class="slideshow-container">

  <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <img id="im1" width="300" height="300" style="cursor: pointer;" ng-click="clickSliderOne()">
    <div class="text" id="txt1">{{ txt1 }}</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 3</div>
    <img id="im2" width="300" height="300" style="cursor: pointer;" ng-click="clickSliderTwo()">
    <div class="text" id="txt2">{{ txt2 }}</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">3 / 3</div>
    <img id="im3" width="300" height="300" style="cursor: pointer;" ng-click="clickSliderThree()">
    <div class="text" id="txt3">{{ txt3 }}</div>
  </div>

  </div>
  <br>

  <div style="text-align:center">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  </div>
  </div>

</body>
<script>
  var login = false;
    /**
     * close chosen divs
     * @param welcome
     * @param login
     * @param game
     * @param settings
     * @param register
     * @param left
     * @param right
     */
    function closeDivs(welcome, login, game, settings,register, left,right, instr)
    {
        if(welcome)
            document.getElementById("welcome").style.display = "none";
        if(register)
            document.getElementById("register").style.display = "none";
        if(login)
            document.getElementById("login").style.display = "none";
        // if(game)
        //     document.getElementById("game").style.display = "none";
        // if(settings)
        //     document.getElementById("settings").style.display = "none";
        // if(instr)
        //     document.getElementById("inst1").style.display = "none";
    }
    function OpenGame()
    {
        if(document.getElementById("loginbtn").innerText === "Login") {
            alert("You need to login first");
            return;
        }
        closeDivs(true, true, true, true, true,true,true, true);
        var game_div = document.getElementById("game");
        var inst = document.getElementById("inst1");
        if(game_div.style.display === "none")
            game_div.style.display = "block";
        if(inst.style.display === "none")
            inst.style.display = "inline-block";
    }
    function loginButton()
    {
        closeDivs(true, true, true, true, true,true,true, true);
        var login_div = document.getElementById("login");
        if(login_div.style.display === "none")
            login_div.style.display = "block";
    }
    function OpenWelcome()
    {
        closeDivs(true, true, true, true, true,true,true, true);
        var welcome_div = document.getElementById("welcome");
        if(welcome_div.style.display === "none")
            welcome_div.style.display = "block";
    }
    function OpenRegister()
    {
        closeDivs(true, true, true, true, true,true,true, true);
        var register_div = document.getElementById("register");
        if(register_div.style.display === "none")
            register_div.style.display = "block";
    }
    function OpenSetting()
    {
        closeDivs(true, true, true, true, true,true,true, true);
        var setting_div = document.getElementById("settings");
        if(setting_div.style.display === "none")
            setting_div.style.display = "block";
    }
    //     Model
    var modal = document.getElementById('myModal');
    var btn = document.getElementById("about");
    var span = document.getElementsByClassName("close")[0];
    // When the user clicks on the button, open the modal
    btn.onclick = function() {
        modal.style.display = "block";
    };
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    };
    document.onkeydown = function(evt) {
        evt = evt || window.event;
        var isEscape = false;
        if ("key" in evt) {
            isEscape = (evt.key === "Escape" || evt.key === "Esc");
        } else {
            isEscape = (evt.keyCode === 27);
        }
        if (isEscape) {
            modal.style.display = "none";
        }
    };
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target === modal) {
            modal.style.display = "none";
        }
    };
</script>
</html>