<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="controller.js"></script>
<script src="popup.js"></script>
<link rel="stylesheet" type="text/css" href="style.css" />
<link rel="stylesheet" type="text/css" href="popup.css" />
<body>
    <div class="header">                            <!------- Header DIV here --------->
        <a href="#top" class="logo"><img src="images/earth.gif" height="40" width="85" id="logoimg"/></a>
        <p id="insert" style="display: inline;color:yellow"></p>
        <div class="header-right">
            <button class="button" id="loginbtn" onclick="loginButton()" >Login</button>
            <button class="button" onclick="OpenGame()" >Game</button>
            <button class="button" onclick="OpenRegister()" >Register</button>
            <button class="button" id="about" onclick="OpenWelcome()" >About</button>
            <button class="button" onclick="OpenSetting()" >Settings</button>
        </div>
    </div>
<br><br><br><br><br><br>
<div ng-app="myApp" ng-controller="myCtrl">

First Name: <input type="text" ng-model="firstName"><br>
Last Name: <input type="text" ng-model="lastName"><br>
<br>
Full Name: {{firstName + " " + lastName}}

</div>
<button id="myBtn" onclick="btnclick()">Open Modal</button>

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <span class="close" id="close">&times;</span>
        <h2>Hello guest!</h2>
      </div>
      <div class="modal-body">
        <p>It seems like youre not a member in out app :(</p>
        <p>We invite you to register and login to put site!</p>
      </div>
      <div class="modal-footer">
        <h3>It'll be fun</h3>
      </div>
    </div>

</div>

</body>
</html>